
<div vocab="http://schema.org/" typeof="NodeList">
    {% for node_id, node in nodes.items() %}
    <a href="/node/{{ node_id }}" rel="item">Node {{ node_id }}</a><br>
    {% endfor %}
    <br>
    <form action="/node/add" method="post">
        <label>Data: <input name="data"></label>
        <input type="submit" value="Add Node">
    </form>
    <br>
    <form action="/edge/add" method="post">
        <label>From Node: <input name="node_from"></label>
        <label>To Node: <input name="node_to"></label>
        <label>Weight: <input name="weight"></label>
        <input type="submit" value="Add Edge">
    </form>
</div>
